@CHARSET "UTF-8";

body {
    font-size: .85em;
    font-family: Arial;
    /*font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;*/
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/*----------------------Custom-------------------------------*/
.title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11pt;
    margin: 5px 0;
}

    .title > a:hover {
        text-decoration: none;
        color: #06a2fc;
    }

    .title > a {
        color: #000;
        text-decoration: none;
    }

.title-sm {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 9pt;
    text-decoration: underline;
    padding-top: 5px;
    padding-bottom: 5px;
}

.table-no-border > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: none;
    line-height: 1.42857;
    padding: 3px;
    vertical-align: top;
}

.checkbox-placeholder::-moz-placeholder {
    color: #000;
}

.input-group-addon {
    background-color: #ddf1fb;
    color: #000;
}

/*Alert-start*/
.alert {
    position: fixed;
    top: 0;
    z-index: 1;
}
/*Alert-end*/
