<div class="header col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="left col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <a href="#"><img src="~/Content/Images/icon_medical.png" class="logo" /></a>
    </div>
    <div class="center col-lg-7 col-md-7 col-sm-7 col-xs-7">
        <div class="title col-lg-12 col-md-12 col-sm-12 col-xs-12"><span>MEDICAL MS</span></div>
        <div class="slogan col-lg-12 col-md-12 col-sm-12 col-xs-12"><span>Giải pháp tin học trong quản lý y tế</span></div>
    </div>
    <div class="right col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <a href="#">Xin chào, @Session["User_name"]</a>&nbsp;<b>|</b>&nbsp;<a href="@Url.Action("Logout","User")">Đăng xuất</a>
    </div>
</div>
