/*trangchu-start*/
.home-bg {
    background: url("../Images/home_background5.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*trangchu-end*/

/*Sidebar-start*/
.nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #fff;
    /*background: rgba(0, 0, 0, 0) linear-gradient(#36aae7, #1fa0e4) repeat scroll 0 0;*/
    /*position: relative;*/
    position: relative;
    top: 0px;
    width: auto;
    height: 100%;
    color: #000;
}

    .nav-side-menu .brand {
        /*background: rgba(0, 0, 0, 0) linear-gradient(#36aae7, #1fa0e4) repeat scroll 0 0;*/
        background: #2191c0 url("../jqueryui/images/ui-bg_gloss-wave_75_2191c0_500x100.png") repeat-x scroll 84% 50%;
        line-height: 50px;
        display: block;
        text-align: center;
        font-size: 14px;
        color: #fff;
        font-weight: bold;
        border-bottom: 1px solid #23282e;
        text-transform: uppercase;
    }

    .nav-side-menu .toggle-btn {
        display: none;
    }

    .nav-side-menu:only-child {
        /*background: rgba(0, 0, 0, 0) linear-gradient(#36aae7, #1fa0e4) repeat scroll 0 0;*/
        /*background: #0078ae url("../jqueryui/images/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50%;*/
    }

.menu-list > ul.menu-content > li {
    background: #0078ae url("../jqueryui/images/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50%;
}

.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}

.nav-side-menu li {
    padding-left: 0px;
    /*border-left: 3px solid #2e353d;*/
    /*border-bottom: 1px solid #23282e;*/
    border-top: 1px solid #1682ba;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset;
    font-weight: bold;
}

    .nav-side-menu li a {
        text-decoration: none;
        color: #ffffff;
    }

        .nav-side-menu li a i {
            padding-left: 10px;
            width: 20px;
            padding-right: 20px;
        }

    .nav-side-menu li:hover {
        border-left: 3px solid #d19b3d;
        /*background-color: #4f5b69;*/
        background: rgba(0, 0, 0, 0) linear-gradient(#1fa0e4, #1992d1) repeat scroll 0 0;
        color: #eeeeee;
        /*-webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
            transition: all 1s ease;*/
    }

    .nav-side-menu ul :not(collapsed) .arrow:before,
    .nav-side-menu li :not(collapsed) .arrow:before {
        font-family: FontAwesome;
        /*content: "\f078";*/
        content: "\f053";
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: middle;
        float: right;
    }

    .nav-side-menu ul .active,
    .nav-side-menu li .active {
        border-left: 3px solid #d19b3d;
        /*background-color: #4f5b69;*/
        background: rgba(0, 0, 0, 0) linear-gradient(#1fa0e4, #1992d1) repeat scroll 0 0;
    }

        .nav-side-menu ul .active :not(collapsed) .arrow:before,
        .nav-side-menu li .active :not(collapsed) .arrow:before {
            content: "\f078";
        }

        .nav-side-menu ul .active a,
        .nav-side-menu li .active a {
            color: #fff;
        }

    .nav-side-menu ul .sub-menu li.active,
    .nav-side-menu li .sub-menu li.active {
        color: #d19b3d;
    }

        .nav-side-menu ul .sub-menu li.active a,
        .nav-side-menu li .sub-menu li.active a {
            color: #d19b3d;
        }

    .nav-side-menu ul .sub-menu li,
    .nav-side-menu li .sub-menu li {
        background-color: #fff;
        border: none;
        line-height: 28px;
        border-bottom: 1px solid #ccc;
        margin-left: 0px;
        font-weight: normal;
    }

        .nav-side-menu ul .sub-menu li:hover,
        .nav-side-menu li .sub-menu li:hover {
            /*background-color: #eeeded;*/
            color: #000;
            background: rgba(0, 0, 0, 0) linear-gradient(#dddddd, #f1ebeb) repeat scroll 0 0;
        }

        .nav-side-menu ul .sub-menu li:before,
        .nav-side-menu li .sub-menu li:before {
            font-family: FontAwesome;
            content: "\f105";
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            vertical-align: middle;
        }

@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }

        .nav-side-menu .toggle-btn {
            display: block;
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 10 !important;
            padding: 3px;
            background-color: #ffffff;
            color: #000;
            width: 40px;
            text-align: center;
        }

    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}

@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}

@media (max-width: 1024px) {
    .nav-side-menu {
        font-size: 9px;
    }
}
/*body {
  margin: 0px;
  padding: 0px;
}*/
.menu-level {
    position: fixed;
    /*top: 177px;
    left: 211px;*/
}
/*Sidebar-end*/

/*Grid -Start*/
.ms_toolbar_bg {
    font-size: 9px;
    font-weight: normal;
    width: 100%;
    height: 20px;
    background-color: #F3F3F3;
    background-image: url('../Images/ms_toolbar_bg.gif');
    background-position: 3px center;
    background-repeat: no-repeat;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #FFFFFF;
    border-bottom: solid 1px #ACA899;
    cursor: pointer;
    padding-left: 8px;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    overflow: visible;
    overflow-x: hidden;
    overflow-y: hidden;
}

    .ms_toolbar_bg:hover {
    }

.ms_toolbar_bottom {
    width: 100%;
    height: 20px;
    background-color: #F3F3F3;
    background-image: url('../Images/ms_toolbar_bg.gif');
    background-position: 3px center;
    background-repeat: no-repeat;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #E9E9E9;
    border-right: solid 1px #FFFFFF;
    border-bottom: solid 1px #F3F3F3;
    cursor: pointer;
    padding-left: 8px;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    cursor: default;
    overflow: visible;
    overflow-x: hidden;
    overflow-y: hidden;
}

    .ms_toolbar_bottom:hover {
    }

.ms_tb {
    text-align: center;
    width: 24px;
    height: 100%;
    background-color: Transparent;
    /*background-image:url('ms_image/ms_tb.gif');*/
    background-position: center center;
    background-repeat: no-repeat;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #ACA899;
    border-bottom: solid 1px #ACA899;
    cursor: pointer;
    color: #000;
}

    .ms_tb:hover, .ms_tb:active, .ms_tb:focus {
        background-color: #C0DDFC;
        border-left: solid 1px #FFFFFF;
        border-top: solid 1px #FFFFFF;
        border-right: solid 1px #7C7869;
        border-bottom: solid 1px #7C7869;
        color: #FF0000;
    }

.ms_tb_add {
    width: 24px;
    height: 100%;
    background-color: Transparent;
    background-image: url('ms_image/ms_tb_add.gif');
    background-position: center center;
    background-repeat: no-repeat;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #ACA899;
    border-bottom: solid 1px #ACA899;
    cursor: pointer;
}

    .ms_tb_add:hover, .ms_tb_add:active, .ms_tb_add:focus {
        background-color: #C0DDFC;
        border-left: solid 1px #ACA899;
        border-top: solid 1px #ACA899;
        border-right: solid 1px #FFFFFF;
        border-bottom: solid 1px #FFFFFF;
    }

.ms_tb_add_abow {
    width: 24px;
    height: 100%;
    background-color: Transparent;
    background-image: url('ms_image/ms_tb_add_abow.gif');
    background-position: center center;
    background-repeat: no-repeat;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #ACA899;
    border-bottom: solid 1px #ACA899;
    cursor: pointer;
}

    .ms_tb_add_abow:hover, .ms_tb_add_abow:active, .ms_tb_add_abow:focus {
        background-color: #C0DDFC;
        border-left: solid 1px #ACA899;
        border-top: solid 1px #ACA899;
        border-right: solid 1px #FFFFFF;
        border-bottom: solid 1px #FFFFFF;
    }

.ms_tb_add_below {
    width: 24px;
    height: 100%;
    background-color: Transparent;
    background-image: url('ms_image/ms_tb_add_below.gif');
    background-position: center center;
    background-repeat: no-repeat;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #ACA899;
    border-bottom: solid 1px #ACA899;
    cursor: pointer;
}

    .ms_tb_add_below:hover, .ms_tb_add_below:active, .ms_tb_add_below:focus {
        background-color: #C0DDFC;
        border-left: solid 1px #ACA899;
        border-top: solid 1px #ACA899;
        border-right: solid 1px #FFFFFF;
        border-bottom: solid 1px #FFFFFF;
    }

.ms_tb_add_child {
    width: 24px;
    height: 100%;
    background-color: Transparent;
    background-image: url('ms_image/ms_tb_add_child.gif');
    background-position: center center;
    background-repeat: no-repeat;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #ACA899;
    border-bottom: solid 1px #ACA899;
    cursor: pointer;
}

    .ms_tb_add_child:hover, .ms_tb_add_child:active, .ms_tb_add_child:focus {
        background-color: #C0DDFC;
        border-left: solid 1px #ACA899;
        border-top: solid 1px #ACA899;
        border-right: solid 1px #FFFFFF;
        border-bottom: solid 1px #FFFFFF;
    }

.ms_tb_move_up {
    width: 24px;
    height: 100%;
    background-color: Transparent;
    background-image: url('ms_image/ms_tb_move_up.gif');
    background-position: center center;
    background-repeat: no-repeat;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #ACA899;
    border-bottom: solid 1px #ACA899;
    cursor: pointer;
}

    .ms_tb_move_up:hover, .ms_tb_move_up:active, .ms_tb_move_up:focus {
        background-color: #C0DDFC;
        border-left: solid 1px #ACA899;
        border-top: solid 1px #ACA899;
        border-right: solid 1px #FFFFFF;
        border-bottom: solid 1px #FFFFFF;
    }

.ms_tb_move_down {
    width: 24px;
    height: 100%;
    background-color: Transparent;
    background-image: url('ms_image/ms_tb_move_down.gif');
    background-position: center center;
    background-repeat: no-repeat;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #ACA899;
    border-bottom: solid 1px #ACA899;
    cursor: pointer;
}

    .ms_tb_move_down:hover, .ms_tb_move_down:active, .ms_tb_move_down:focus {
        background-color: #C0DDFC;
        border-left: solid 1px #ACA899;
        border-top: solid 1px #ACA899;
        border-right: solid 1px #FFFFFF;
        border-bottom: solid 1px #FFFFFF;
    }

.ms_tb_detail {
    width: 24px;
    height: 100%;
    background-color: Transparent;
    background-image: url('ms_image/ms_tb_detail.gif');
    background-position: center center;
    background-repeat: no-repeat;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #ACA899;
    border-bottom: solid 1px #ACA899;
    cursor: pointer;
}

    .ms_tb_detail:hover, .ms_tb_detail:active, .ms_tb_detail:focus {
        background-color: #C0DDFC;
        border-left: solid 1px #ACA899;
        border-top: solid 1px #ACA899;
        border-right: solid 1px #FFFFFF;
        border-bottom: solid 1px #FFFFFF;
    }

.ms_tb_list {
    width: 24px;
    height: 100%;
    background-color: Transparent;
    background-image: url('ms_image/ms_tb_list.gif');
    background-position: center center;
    background-repeat: no-repeat;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #ACA899;
    border-bottom: solid 1px #ACA899;
    cursor: pointer;
}

    .ms_tb_list:hover, .ms_tb_list:active, .ms_tb_list:focus {
        background-color: #C0DDFC;
        border-left: solid 1px #ACA899;
        border-top: solid 1px #ACA899;
        border-right: solid 1px #FFFFFF;
        border-bottom: solid 1px #FFFFFF;
    }

.ms_tb_checklist {
    width: 24px;
    height: 100%;
    background-color: Transparent;
    background-image: url('ms_image/ms_tb_checklist.png');
    background-position: center center;
    background-repeat: no-repeat;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #ACA899;
    border-bottom: solid 1px #ACA899;
    cursor: pointer;
}

    .ms_tb_checklist:hover, .ms_tb_checklist:active, .ms_tb_checklist:focus {
        background-color: #C0DDFC;
        border-left: solid 1px #ACA899;
        border-top: solid 1px #ACA899;
        border-right: solid 1px #FFFFFF;
        border-bottom: solid 1px #FFFFFF;
    }

.ms_tb_profile {
    width: 24px;
    height: 100%;
    background-color: Transparent;
    background-image: url('ms_image/ms_tb_profile.png');
    background-position: center center;
    background-repeat: no-repeat;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #ACA899;
    border-bottom: solid 1px #ACA899;
    cursor: pointer;
}

    .ms_tb_profile:hover, .ms_tb_profile:active, .ms_tb_profile:focus {
        background-color: #C0DDFC;
        border-left: solid 1px #ACA899;
        border-top: solid 1px #ACA899;
        border-right: solid 1px #FFFFFF;
        border-bottom: solid 1px #FFFFFF;
    }

.ms_tb_login {
    width: 24px;
    height: 100%;
    background-color: Transparent;
    background-image: url('ms_image/ms_tb_login.png');
    background-position: center center;
    background-repeat: no-repeat;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #ACA899;
    border-bottom: solid 1px #ACA899;
    cursor: pointer;
}

    .ms_tb_login:hover, .ms_tb_login:active, .ms_tb_login:focus {
        background-color: #C0DDFC;
        border-left: solid 1px #ACA899;
        border-top: solid 1px #ACA899;
        border-right: solid 1px #FFFFFF;
        border-bottom: solid 1px #FFFFFF;
    }

.ms_tb_recover {
    width: 24px;
    height: 100%;
    background-color: Transparent;
    background-image: url('ms_image/ms_tb_recover.png');
    background-position: center center;
    background-repeat: no-repeat;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #ACA899;
    border-bottom: solid 1px #ACA899;
    cursor: pointer;
}

    .ms_tb_recover:hover, .ms_tb_recover:active, .ms_tb_recover:focus {
        background-color: #C0DDFC;
        border-left: solid 1px #ACA899;
        border-top: solid 1px #ACA899;
        border-right: solid 1px #FFFFFF;
        border-bottom: solid 1px #FFFFFF;
    }

.ms_tb_sync {
    width: 24px;
    height: 100%;
    background-color: Transparent;
    background-image: url('ms_image/ms_tb_sync.gif');
    background-position: center center;
    background-repeat: no-repeat;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #ACA899;
    border-bottom: solid 1px #ACA899;
    cursor: pointer;
}

    .ms_tb_sync:hover, .ms_tb_sync:active, .ms_tb_sync:focus {
        background-color: #C0DDFC;
        border-left: solid 1px #ACA899;
        border-top: solid 1px #ACA899;
        border-right: solid 1px #FFFFFF;
        border-bottom: solid 1px #FFFFFF;
    }

.ms_tb_delete {
    width: 24px;
    height: 100%;
    background-color: Transparent;
    background-image: url('ms_image/ms_tb_delete.gif');
    background-position: center center;
    background-repeat: no-repeat;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #ACA899;
    border-bottom: solid 1px #ACA899;
    cursor: pointer;
}

    .ms_tb_delete:hover, .ms_tb_delete:active, .ms_tb_delete:focus {
        background-color: #C0DDFC;
        border-left: solid 1px #ACA899;
        border-top: solid 1px #ACA899;
        border-right: solid 1px #FFFFFF;
        border-bottom: solid 1px #FFFFFF;
    }

.ms_tb_print {
    width: 24px;
    height: 100%;
    background-color: Transparent;
    background-image: url('ms_image/ms_tb_print.gif');
    background-position: center center;
    background-repeat: no-repeat;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #ACA899;
    border-bottom: solid 1px #ACA899;
    cursor: pointer;
}

    .ms_tb_print:hover, .ms_tb_print:active, .ms_tb_print:focus {
        background-color: #C0DDFC;
        border-left: solid 1px #ACA899;
        border-top: solid 1px #ACA899;
        border-right: solid 1px #FFFFFF;
        border-bottom: solid 1px #FFFFFF;
    }

.ms_tb_help {
    width: 24px;
    height: 100%;
    background-color: Transparent;
    background-image: url('ms_image/ms_tb_help.gif');
    background-position: center center;
    background-repeat: no-repeat;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #ACA899;
    border-bottom: solid 1px #ACA899;
    cursor: pointer;
}

    .ms_tb_help:hover, .ms_tb_help:active, .ms_tb_help:focus {
        background-color: #C0DDFC;
        border-left: solid 1px #ACA899;
        border-top: solid 1px #ACA899;
        border-right: solid 1px #FFFFFF;
        border-bottom: solid 1px #FFFFFF;
    }

.ms_tb_refresh {
    width: 24px;
    height: 100%;
    background-color: Transparent;
    background-image: url('ms_image/ms_tb_refresh.gif');
    background-position: center center;
    background-repeat: no-repeat;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #ACA899;
    border-bottom: solid 1px #ACA899;
    cursor: pointer;
}

    .ms_tb_refresh:hover, .ms_tb_refresh:active, .ms_tb_refresh:focus {
        background-color: #C0DDFC;
        border-left: solid 1px #ACA899;
        border-top: solid 1px #ACA899;
        border-right: solid 1px #FFFFFF;
        border-bottom: solid 1px #FFFFFF;
    }

.ms_tb_find {
    width: 24px;
    height: 100%;
    background-color: Transparent;
    background-image: url('ms_image/ms_tb_find.gif');
    background-position: center center;
    background-repeat: no-repeat;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #ACA899;
    border-bottom: solid 1px #ACA899;
    cursor: pointer;
}

    .ms_tb_find:hover, .ms_tb_find:active, .ms_tb_find:focus {
        background-color: #C0DDFC;
        border-left: solid 1px #ACA899;
        border-top: solid 1px #ACA899;
        border-right: solid 1px #FFFFFF;
        border-bottom: solid 1px #FFFFFF;
    }

.ms_tb_copy {
    width: 24px;
    height: 100%;
    background-color: Transparent;
    background-image: url('ms_image/ms_tb_copy.gif');
    background-position: center center;
    background-repeat: no-repeat;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #ACA899;
    border-bottom: solid 1px #ACA899;
    cursor: pointer;
}

    .ms_tb_copy:hover, .ms_tb_copy:active, .ms_tb_copy:focus {
        background-color: #C0DDFC;
        border-left: solid 1px #ACA899;
        border-top: solid 1px #ACA899;
        border-right: solid 1px #FFFFFF;
        border-bottom: solid 1px #FFFFFF;
    }

.ms_tb_clone {
    width: 24px;
    height: 100%;
    background-color: Transparent;
    background-image: url('ms_image/ms_tb_clone.png');
    background-position: center center;
    background-repeat: no-repeat;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #ACA899;
    border-bottom: solid 1px #ACA899;
    cursor: pointer;
}

    .ms_tb_clone:hover, .ms_tb_clone:active, .ms_tb_clone:focus {
        background-color: #C0DDFC;
        border-left: solid 1px #ACA899;
        border-top: solid 1px #ACA899;
        border-right: solid 1px #FFFFFF;
        border-bottom: solid 1px #FFFFFF;
    }

.ms_tb_close {
    width: 18px;
    height: 100%;
    background-color: Transparent;
    background-image: url('ms_image/ms_tb_close.gif');
    background-position: center center;
    background-repeat: no-repeat;
    border-left: solid 0px #ACA899;
    border-top: solid 0px #ACA899;
    border-right: solid 0px #ACA899;
    border-bottom: solid 0px #ACA899;
    cursor: pointer;
}

    .ms_tb_close:hover, .ms_tb_close:active, .ms_tb_close:focus {
        background-color: Transparent;
        border-left: solid 0px #FFFFFF;
        border-top: solid 0px #FFFFFF;
        border-right: solid 0px #909090;
        border-bottom: solid 0px #909090;
    }

.ms_tb_close_sub {
    width: 18px;
    height: 100%;
    background-color: Transparent;
    background-image: url('ms_image/ms_tb_close_sub.png');
    background-position: center center;
    background-repeat: no-repeat;
    border-left: solid 0px #ACA899;
    border-top: solid 0px #ACA899;
    border-right: solid 0px #ACA899;
    border-bottom: solid 0px #ACA899;
    cursor: pointer;
}

    .ms_tb_close_sub:hover, .ms_tb_close_sub:active, .ms_tb_close_sub:focus {
        background-color: Transparent;
        border-left: solid 0px #FFFFFF;
        border-top: solid 0px #FFFFFF;
        border-right: solid 0px #909090;
        border-bottom: solid 0px #909090;
    }

.ms_tb_filter {
    background-color: #F9F9F9;
    background-image: url('ms_image/ms_tb_filter.gif');
    background-position: 1px center;
    background-repeat: no-repeat;
    color: #0033ff;
    width: 120px;
    height: 16px;
    border-left: solid 1px #C0C0C0;
    border-top: solid 1px #C0C0C0;
    border-right: solid 1px #C0C0C0;
    border-bottom: solid 1px #C0C0C0;
    vertical-align: bottom;
    padding-left: 20px;
}

    .ms_tb_filter:hover, .ms_tb_filter:focus, .ms_tb_filter:active {
        background-color: #FFFFFF;
        border-left: solid 1px #C0C0C0;
        border-top: solid 1px #C0C0C0;
        border-right: solid 1px #C0C0C0;
        border-bottom: solid 1px #C0C0C0;
    }

.ms_hcell {
    color: #FFFFFF;
    background-color: #81daff;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #C0C0C0;
    border-bottom: solid 1px #A0A0A0;
    text-align: left;
    vertical-align: top;
    font-weight: bold;
    padding-left: 3px;
    padding-top: 2px;
    padding-right: 3px;
    padding-bottom: 1px;
    cursor: pointer;
}

.ms_hcell_asc {
    color: #CCFF99;
    background-color: #B1B1B1;
    background-image: url('ms_image/ms_asc.png');
    background-position: right center;
    background-repeat: no-repeat;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #C0C0C0;
    border-bottom: solid 1px #A0A0A0;
    text-align: left;
    vertical-align: top;
    font-weight: bold;
    padding-left: 3px;
    padding-top: 2px;
    padding-right: 3px;
    padding-bottom: 1px;
    cursor: pointer;
}

.ms_hcell_desc {
    color: #CCFF99;
    background-color: #B1B1B1;
    background-image: url('ms_image/ms_desc.png');
    background-position: right center;
    background-repeat: no-repeat;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #C0C0C0;
    border-bottom: solid 1px #A0A0A0;
    text-align: left;
    vertical-align: top;
    font-weight: bold;
    padding-left: 3px;
    padding-top: 2px;
    padding-right: 3px;
    padding-bottom: 1px;
    cursor: pointer;
}

.ms_hcell_c {
    color: #FFFFFF;
    background-color: #B0B0B0;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #C0C0C0;
    border-bottom: solid 1px #A0A0A0;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    padding-left: 3px;
    padding-top: 2px;
    padding-right: 3px;
    padding-bottom: 1px;
    cursor: pointer;
}

.ms_hcell_c_asc {
    color: #CCFF99;
    background-color: #B1B1B1;
    background-image: url('ms_image/ms_asc.png');
    background-position: right center;
    background-repeat: no-repeat;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #C0C0C0;
    border-bottom: solid 1px #A0A0A0;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    padding-left: 3px;
    padding-top: 2px;
    padding-right: 3px;
    padding-bottom: 1px;
    cursor: pointer;
}

.ms_hcell_c_desc {
    color: #CCFF99;
    background-color: #B1B1B1;
    background-image: url('ms_image/ms_desc.png');
    background-position: right center;
    background-repeat: no-repeat;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #C0C0C0;
    border-bottom: solid 1px #A0A0A0;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    padding-left: 3px;
    padding-top: 2px;
    padding-right: 3px;
    padding-bottom: 1px;
    cursor: pointer;
}

.ms_hcell_r {
    color: #FFFFFF;
    background-color: #B0B0B0;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #C0C0C0;
    border-bottom: solid 1px #A0A0A0;
    text-align: right;
    vertical-align: top;
    font-weight: bold;
    padding-left: 3px;
    padding-top: 2px;
    padding-right: 3px;
    padding-bottom: 1px;
    cursor: pointer;
}

.ms_hcell_r_asc {
    color: #CCFF99;
    background-color: #B1B1B1;
    background-image: url('ms_image/ms_asc.png');
    background-position: right center;
    background-repeat: no-repeat;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #C0C0C0;
    border-bottom: solid 1px #A0A0A0;
    text-align: right;
    vertical-align: top;
    font-weight: bold;
    padding-left: 3px;
    padding-top: 2px;
    padding-right: 3px;
    padding-bottom: 1px;
    cursor: pointer;
}

.ms_hcell_r_desc {
    color: #CCFF99;
    background-color: #B1B1B1;
    background-image: url('ms_image/ms_desc.png');
    background-position: right center;
    background-repeat: no-repeat;
    border-left: solid 1px #FFFFFF;
    border-top: solid 1px #FFFFFF;
    border-right: solid 1px #C0C0C0;
    border-bottom: solid 1px #A0A0A0;
    text-align: right;
    vertical-align: top;
    font-weight: bold;
    padding-left: 3px;
    padding-top: 2px;
    padding-right: 3px;
    padding-bottom: 1px;
    cursor: pointer;
}

.ms_rcell_c {
    background-color: #F0F0F0;
    border-left: solid 0px #D0D0D0;
    border-top: solid 0px #D0D0D0;
    border-right: solid 1px #D0D0D0;
    border-bottom: solid 1px #D0D0D0;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    padding-left: 3px;
    padding-top: 4px;
    padding-right: 3px;
    padding-bottom: 1px;
    cursor: pointer;
}

.ms_rcell_c_sel {
    background-color: #E0E0E0;
    border-left: solid 0px #D0D0D0;
    border-top: solid 0px #D0D0D0;
    border-right: solid 1px #D0D0D0;
    border-bottom: solid 1px #D0D0D0;
    text-align: center;
    vertical-align: top;
    font-weight: bold;
    padding-left: 3px;
    padding-top: 4px;
    padding-right: 3px;
    padding-bottom: 1px;
    cursor: pointer;
}

.ms_rcell_cm {
    background-color: #F0F0F0;
    border-left: solid 0px #D0D0D0;
    border-top: solid 0px #D0D0D0;
    border-right: solid 1px #D0D0D0;
    border-bottom: solid 1px #D0D0D0;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    padding-left: 3px;
    padding-top: 4px;
    padding-right: 3px;
    padding-bottom: 1px;
    cursor: pointer;
}

.ms_dcell {
    border-left: solid 0px #D0D0D0;
    border-top: solid 0px #D0D0D0;
    border-right: solid 1px #D0D0D0;
    border-bottom: solid 1px #D0D0D0;
    text-align: left;
    vertical-align: top;
    padding-left: 3px;
    padding-top: 4px;
    padding-right: 3px;
    padding-bottom: 1px;
}

.ms_dcell_c {
    border-left: solid 0px #D0D0D0;
    border-top: solid 0px #D0D0D0;
    border-right: solid 1px #D0D0D0;
    border-bottom: solid 1px #D0D0D0;
    text-align: center;
    vertical-align: top;
    padding-left: 3px;
    padding-top: 4px;
    padding-right: 3px;
    padding-bottom: 1px;
}

.ms_dcell_c_nopad {
    border-left: solid 0px #D0D0D0;
    border-top: solid 0px #D0D0D0;
    border-right: solid 1px #D0D0D0;
    border-bottom: solid 1px #D0D0D0;
    text-align: center;
    vertical-align: middle;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.ms_dcell_r {
    border-left: solid 0px #D0D0D0;
    border-top: solid 0px #D0D0D0;
    border-right: solid 1px #D0D0D0;
    border-bottom: solid 1px #D0D0D0;
    text-align: right;
    vertical-align: top;
    padding-left: 3px;
    padding-top: 4px;
    padding-right: 3px;
    padding-bottom: 1px;
}

.ms_dcell_rb {
    border-left: solid 0px #D0D0D0;
    border-top: solid 0px #D0D0D0;
    border-right: solid 1px #D0D0D0;
    border-bottom: solid 1px #D0D0D0;
    text-align: right;
    vertical-align: top;
    padding-left: 3px;
    padding-top: 4px;
    padding-right: 3px;
    padding-bottom: 1px;
    font-weight: bold;
}

.ms_hcell {
    background: #2191c0 url("../JqueryUI/images/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50%;
    color: #fff;
}

.ms_toolbar {
    background: #2191c0 url("../JqueryUI/images/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50%;
    color: #fff;
}

.ms_tb {
    background: #2191c0 url("../JqueryUI/images/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50%;
    color: #fff;
}

    .ms_tb:hover {
        background: #2191c0 url("../JqueryUI/images/ui-bg_glass_75_79c9ec_1x400.png") repeat-x scroll 50% 50%;
        color: #000;
    }

/*.custom-btn {
    min-width: 90px;
    margin: 0px 3px;
    background: #2191c0 url("../JqueryUI/images/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50%;
    color:#fff;
}
.custom-btn:hover {
    background: #2191c0 url("../JqueryUI/images/ui-bg_glass_75_79c9ec_1x400.png") repeat-x scroll 50% 50%;
}*/

::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
}

/*Grid -Start*/

.sorting {
    content: "";
    font-size: 2em;
}

.sorting_desc {
    content: "";
    font-size: 2em;
}

.sorting_desc {
    content: "";
    font-size: 2em;
}

.input-group-addon_dis {
    color: #555;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 6px 12px;
    text-align: center;
    border: 1px solid #ccc;
}

.input-group-addon_dis, .input-group-btn_dis {
    vertical-align: middle;
    white-space: nowrap;
    width: 1%;
}

.input-group .form-control_dis, .input-group-addon_dis, .input-group-btn_dis {
    display: table-cell;
}

.input-group-addon_dis {
    /*background: rgba(0, 0, 0, 0) linear-gradient(#d4ffff, #ddfefe) repeat scroll 0 0;*/
    background-color: #eee;
    cursor: not-allowed;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

    .input-group-addon_dis:last-child {
        border-left: 0 none;
        border-radius: 4px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }


.form-control_dis {
    background-color: #eee;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;*/
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.input-group .form-control_dis {
    float: left;
    margin-bottom: 0;
    position: relative;
    width: 100%;
    z-index: 2;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.form-control_dis[disabled], fieldset_dis[disabled] .form-control_dis {
    cursor: not-allowed;
}

.input-label {
    /*background: rgba(0, 0, 0, 0) linear-gradient(#d4ffff, #ddfefe) repeat scroll 0 0;*/
    background: inherit;
    padding: 6px;
    min-width: 80px;
    border: 0;
    text-align: left;
}

.input-filter {
    background: #2191c0 url("../JqueryUI/images/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50%;
    color: #fff;
    padding: 5px 10px;
    border-top: 1px solid #2191c0;
}

    .input-filter:hover {
        background: #2191c0 url("../JqueryUI/images/ui-bg_glass_75_79c9ec_1x400.png") repeat-x scroll 50% 50%;
        /*background: #2191c0 url("../JqueryUI/images/ui-bg_gloss-wave_50_6eac2c_500x100.png") repeat-x scroll 50% 50%;*/
    }

.input-filter_dis {
    cursor: not-allowed;
    padding: 5px 10px;
}

.input-datepicker {
    background: #2191c0 url("../JqueryUI/images/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50%;
    color: #fff;
    padding: 5px 10px;
    border-top: 1px solid #2191c0;
}

    .input-datepicker:hover {
        background: #2191c0 url("../JqueryUI/images/ui-bg_glass_75_79c9ec_1x400.png") repeat-x scroll 50% 50%;
    }

.input-datepicker_dis {
    padding: 5px 10px;
    cursor: not-allowed;
}

.input-sm {
    height: 26px;
}

.input-sm_dis {
    height: 26px;
}

.custom-title {
    border-bottom: 1px solid #ccc;
    font-size: 11pt;
    font-weight: bold;
    /*margin: 5px 0 30px;*/
    padding: 15px 0 !important;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.custom-row {
    margin-bottom: 10px;
}

.custom-btn-group {
    margin-top: 30px;
}

.custom-btn {
    min-width: 90px;
    margin: 0px 3px;
    background: #2191c0 url("../JqueryUI/images/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50%;
    color: #fff;
}

    .custom-btn:hover {
        background: #2191c0 url("../JqueryUI/images/ui-bg_glass_75_79c9ec_1x400.png") repeat-x scroll 50% 50%;
    }

.custom-btn_dis {
    min-width: 90px;
    margin: 0px 3px;
    color: #000;
    background-color: #D0D0D0;
}

.dataTable > thead > tr {
    background: #2191c0 url("../jqueryui/images/ui-bg_glass_45_0078ae_1x400.png") repeat-x scroll 50% 50%;
    color: #fff;
}

.dataTable > tbody > tr:hover {
    background: #6eac2c url("../jqueryui/images/ui-bg_gloss-wave_50_6eac2c_500x100.png") repeat-x scroll 50% 50%;
    color: #fff;
}

.dataTables_filter {
    text-align: right;
}

.dataTables_paginate {
    text-align: right;
}

.table-borderless {
    line-height: 1.5;
}

    .table-borderless > thead > tr > th, .table-borderless > tbody > tr > th, .table-borderless > tfoot > tr > th, .table-borderless > thead > tr > td, .table-borderless > tbody > tr > td, .table-borderless > tfoot > tr > td {
        border: none;
    }

.ms_dcell_c {
    border-color: #ccc !important;
    border-style: solid !important;
    border-width: 2px !important;
    padding: 4px 3px 1px;
    text-align: center;
    vertical-align: middle !important;
}
.cm_dcell {
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    padding: 4px 3px 1px;
    text-align: left;
    vertical-align: middle !important;
/*Loader*/
.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-left: 40%;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/*Loader*/
/*DatePicker*/
.ui-datepicker {
    position: absolute;
    z-index: 3;
}
/*Datepicker*/

