body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*Develope Start*/
.wrapper {
    max-width: 1024px;
}

.header {
}

    .header .header-title {
        margin-left: -15px;
        font-size: 18px;
        line-height: 20px;
        padding: 15px;
        float: left;
        color: #ccc;
    }

        .header .header-title > a {
            color: #ccc;
        }

            .header .header-title > a:hover, .header .header-title > a:focus {
                color: #fff;
                text-decoration: none;
            }

    .header .header-contact {
        margin-right: -15px;
        font-size: 15px;
        line-height: 20px;
        padding: 15px;
        float: right;
        color: #ccc;
    }

        .header .header-contact > a {
            color: #ccc;
        }

            .header .header-contact > a:hover, .header .header-contact > a:focus {
                color: #fff;
                text-decoration: none;
            }

ul.navbar-nav li > a {
    color: #059bd8;
    text-transform: uppercase;
    font-weight: bold;
}

    ul.navbar-nav li > a:hover, ul.navbar-nav li > a:focus {
        color: #000;
        background-color: #ccc;
    }

.jumbotron > h2 {
    color: #ccc;
}

.jumbotron h2 > strong {
    color: #059bd8;
    text-transform:uppercase;
}
